<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.test.mall4.board.service.BoardMapper">
	
	<!-- 로그인 -->
	
	<!-- 수정한 내용을 처리 -->
	<update id="updateBoard" parameterType="com.test.mall4.board.service.Board">
		UPDATE board
			SET board_no=#{boardNo},
			member_id=#{sessionMemberId}
			,board_title=#{boardTitle}
			,board_content=#{boardContent}
			,board_date=NOW()
			WHERE board_no=#{boardNo}
	</update>
	
	<!-- 수정할 글의 내용 가져오기 -->
	<select id="selectBoardOne" 
		parameterType="com.test.mall4.board.service.Board"
		resultType="com.test.mall4.board.service.Board">
		SELECT 
			board_no AS boardNo
			,member_id AS sessionMemberId
			,board_title AS boardTitle
			,board_content AS boardContent
			,board_date AS boardDate 
			FROM board
			WHERE board_no = #{boardNo}
	</select>
	
	<!-- 선택한 글을 삭제 처리 -->
	<delete id="deleteBoard" parameterType="com.test.mall4.board.service.Board">
		DELETE FROM board WHERE board_no = #{boardNo}
	</delete>
	
	<!-- board의 전체 갯수를 카운트 -->
	<select id="totalCountBoard" 
		resultType="Integer">
		SELECT count(*) FROM board
	</select>
	
	<!-- board의 리스트를 내림순으로 조회 + 페이징 -->
	<select id="selectBoardList" 
		parameterType="java.util.Map"
		resultType="com.test.mall4.board.service.Board">
		SELECT 
			board_no AS boardNo
			,member_id AS sessionMemberId
			,board_title AS boardTitle
			,board_content AS boardContent
			,board_date AS boardDate 
			FROM board
			ORDER BY board_no DESC
			LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	<!-- board게시글 추가 -->
	<insert id="insertBoard" parameterType="com.test.mall4.board.service.Board">
		INSERT INTO board
		(member_id,board_title, board_content, board_date)
		VALUES (#{sessionMemberId},#{boardTitle},#{boardContent}, NOW())
	</insert>
</mapper>