<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.test.mall4.board.service.BoardMapper">
	<insert id="insertBoard" parameterType="com.test.mall4.board.service.Board">
		INSERT INTO board
		(member_id,board_title, board_content, board_date)
		VALUES (#{sessionMemberId},#{boardTitle},#{boardContent}, NOW())
	</insert>
</mapper>