<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mall4.item.service.ItemMapper">
<insert id="insertItem" parameterType="java.util.Map">
INSERT INTO item(
	category_no
	, item_name
	, item_price)
	VALUES(
		#{categoryNo}
		, #{itemName}
		, #{itemPrice}
	)
</insert>
</mapper>