<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.test.mall4.order.service.OrderMapper">

<resultMap type="com.test.mall4.order.service.Order" id="order">
	<id column="orderNo" property="orderNo"/>
	<result column="orderCount" property="orderCount"/>
	<result column="orderDate" property="orderDate"/>
	<collection property="member" ofType="com.test.mall4.member.service.Member">
		<id column="memberNo" property="memberNo"/>
		<result column="memberId" property="memberId"/>
		<result column="memberPw" property="memberPw"/>
	</collection>
	<collection property="item" ofType="com.test.mall4.item.service.Item">
		<id column="itemNo" property="itemNo"/>
		<result column="itemName" property="itemName"/>
		<result column="itemPrice" property="itemPrice"/>
		<collection property="category" ofType="com.test.mall4.category.service.Category">
			<id column="categoryNo" property="categoryNo"/>
			<result column="categoryName" property="categoryName"/>
		</collection>
	</collection>
</resultMap>

<delete id="deleteOrder" parameterType="com.test.mall4.order.service.Order">
	DELETE FROM `order` WHERE order_no=#{orderNo}

</delete>

<select id="selectOrderList"  parameterType="com.test.mall4.order.service.Order" resultMap="order">
	select
		order.order_no as orderNo
		,member.member_id as memberId
		,category.category_name as categoryName
		,item.item_name as itemName
		,item.item_price as itemPrice
		,order.order_count as orderCount
		,order.order_date as orderDate
		,item.item_no as itemNo
	from `order` join member join item join category
	on `order`.member_no = member.member_no and `order`.item_no = item.item_no and item.category_no = category.category_no
	WHERE member.member_no = #{member.memberNo}
	order by order_no DESC

</select>

<!--  -->
<select id="selectOrderCount" parameterType="com.test.mall4.order.service.Order" resultType="Integer">
	select
		order_count as orderCount
	from `order`
	where
			member_no = #{member.memberNo}
		and
			item_no = #{item.itemNo}
</select>

<!--  -->
<update id="updateOrderCount" parameterType="com.test.mall4.order.service.Order">
	UPDATE `order`
	SET
		order_count= #{orderCount}
	WHERE
		member_no = #{member.memberNo}
	and 
		item_no = #{item.itemNo}

</update>

<!--  -->
<select id="orderCheck" parameterType="com.test.mall4.order.service.Order" resultType="Integer">
	select
		count(*)
	from `order`
	where
		member_no = #{member.memberNo}
	and
		item_no = #{item.itemNo}
</select>

<!--  -->
<insert id="insertOrder" parameterType="com.test.mall4.order.service.Order">
	INSERT INTO `order`
	(order_count
	,member_no
	, item_no
	, order_date)
	VALUES (
	#{orderCount}
	,#{member.memberNo}
	,#{item.itemNo}
	, NOW())
</insert>

</mapper>
