<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.test.mall4.comment.service.CommentMapper">
<insert id="insertComment" parameterType="com.test.mall4.comment.service.Comment">
	INSERT INTO board_comment
	(board_no, comment_content, member_id)
	VALUES (#{boardNo}, '#{commentContent}', '#{memberId}')
</insert>
</mapper>